.spectacle{
    display: flex;
    flex-wrap: nowrap;
    background-image: url('https://www.letelegramme.fr/ar/imgproxy.php/images/2019/09/24/le-duo-vitalis-proposera-un-exceptionnel-numero-de-main-a_4820731.jpg?article=12391677&aaaammjj=12391677');
}